.message{
    display: flex;
    align-items: center;
    box-shadow: rgba(118, 118, 134, 0.2) 0px 7px 29px 0px;
    margin:1rem;
    padding: 0.3rem 1rem ;
    border-radius: 8px;   
    font-family: 'Poppins', sans-serif; 
    
}
.user{
    position: absolute;
    margin-top: -3.2rem;    
    color:#222f3e;
    font-size: 0.7rem;
}
.sent{
    background-color: #10ac84;
    color: white;
    flex-direction: row-reverse;
    text-align: end;
    float: right;
    border-radius: 8px 0px 8px 8px;
    top:-2rem;
}

.received{
    background-color: #222f3e;
    color: whitesmoke;
    float: left;
  
    border-radius: 0px 8px 8px 8px;
    
}